{% extends "base.html" %}
{% block title %}Add Bus{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

<div class="glass-page">

  <div class="glass-card">

    <div class="glass-header">
    <div class="icon-circle">
    <span class="material-symbols-outlined">person_add</span>
</div>


      <h1>Add New DRIVER</h1>
      <p>Register a driver and assign BUS details</p>
    </div>

    <form method="POST">

  <!-- DRIVER DETAILS -->
  <div class="glass-section">
    <span class="section-title green">DRIVER DETAILS</span>
    <input type="text" name="driver_name" placeholder="Full Name" required>
    <input type="text" name="phone" placeholder="Driver Phone" required>

  </div>
  


  <!-- LOGIN CREDENTIALS -->
  <div class="glass-section">
    <span class="section-title blue">LOGIN CREDENTIALS</span>
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Login Email" required>
    <input type="password" name="password" placeholder="Password" required>
  </div>

  <!-- ASSIGN BUS -->
  <div class="glass-section">
    <span class="section-title">ASSIGN BUS</span>
    <select name="bus_id" required>
      {% for bus in buses %}
        <option value="{{ bus.id }}">
          {{ bus.bus_number }} - {{ bus.route }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" class="neon-btn">
    Create Driver Account
  </button>

</form>


  </div>
</div>

{% endblock %}
